.app_transparent_bg_hidden {
  visibility: hidden;
}

hr {
  border: 0.1px solid #e1e6ee;
}

.icon_style {
  margin-top: -7px;
  margin-left: -7px;
}

.shadow {
  box-shadow: 4px 5px 10px 4px #e1e6ee;
}

.shadow:hover{
  box-shadow: none;
}

p, h1, h2, h3, h4 {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 20%;
  }

  to {
    margin-left: 0%;
  }
}
