:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --site_background: #f2f7f8;
  --site_white: #fefeff;
  --black: #000000;
  --text: #566372;
  --text1: #4b5a6c;
  --icon: #abb6c6;
  --pink: #f1235c;
  --gray: #f2f4f8;
  --gray2: #b7c2d2;
  --gray3: #b1bbc5;
  --green: #32a86d;
  --orange: #f2a900;
  --blue: #1866da;
  --shadow: #e1e6ee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f7f8;
}
